{{!
You can use this template to render any errors on your site if you wish
}}
<head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="../../public/site.css">
</head>

<main>
    <p class="large-centered-text">Error Message: {{error}} </p> 
</main>
<div class="container">
    <a href = "/"> Search for Another Character</a>
</div>

